body {
  margin: 0 auto;
  max-width: 760px;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: none
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body,
input,
button {
  font-family: sans-serif;
  font-size: 17px;

}

body {
  background-image: url('pozadina.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body::before {
  width: 100%;
  height: 100%;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: -moz-linear-gradient(top left, rgba(229, 235, 239, 0.90), rgba(249, 235, 232, 0.85));
  background-image: -ms-linear-gradient(top left, rgba(229, 235, 239, 0.90), rgba(249, 235, 232, 0.85));
  background-image: -webkit-linear-gradient(top left, rgba(229, 235, 239, 0.90), rgba(249, 235, 232, 0.85));
  background-image: -o-linear-gradient(top left, rgba(229, 235, 239, 0.90), rgba(249, 235, 232, 0.85));
  background-image: linear-gradient(to bottom right, rgba(229, 235, 239, 0.90), rgba(249, 235, 232, 0.85));
  background-size: auto;

}

html {
  touch-action: manipulation;
}


h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid #A13462;
  text-align: center;
  padding: 10px;
}

h3 div {
  margin-bottom: 10px;
}

.tagline {
  position: relative;
  margin-top: 0;
}

.tagline-text {
  vertical-align: middle;
}

.__slackin {
  float: right;
  margin-left: 10px;
  vertical-align: middle;
}

.promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

a {
  font-weight: bold;
}

a,
a:hover {
  color: #ecf0f1;
}

pre {
  white-space: pre-wrap;
}

pre code {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

label {
  display: block;
  margin-bottom: 40px;
  font-size: 1.5em;
  text-align: center
}

.visina {
  height: 100px;
  font-size: 20px;
  padding-top: 1%;
}

.visina div {
  font-size: initial
}

#left {
  background: #90CAF9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#middle {
  background: #9FA8DA
}

#right {
  background: #B39DDB;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

sub {
  display: block;
  text-align: right;
  margin-top: -10px;
  font-size: 11px;
  font-style: italic;
}

ul {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
  padding: 20px;
}

input {
  border: none;
  outline: none;
  background-color: #ecf0f1;
  padding: 10px;
  color: #942A57;
  border: 0;
  margin: 5px 0;
  display: block;
}

button,
.btn {
  background-color: #ecf0f1;
  color: #942A57;
  border: 0;
  padding: 18px 12px;
  margin-left: 6px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background: #f3d1d1;
  border: 2px solid #AF4C4C;
  width: 170px;
}

.btn {
  background: #bae3bd;
  margin: auto;

  margin-bottom: 20px
}

button:hover {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.btn:hover {
  background-color: #5aa62d;
  color: #ecf0f1;
}


.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.wrapper {
  display: table;
}

.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 4%;
  text-align: center;
}

.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container>div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.container>div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.container .ex-moved {
  background-color: #e74c3c;
}

.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}

#left-lovehandles>div,
#right-lovehandles>div {
  cursor: initial;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}

.slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
}

#bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.od {
  cursor: pointer !important;
  border-radius: 5px
}

.tocno {
  background: #A5D6A7 !important
}

.netocno {
  background: #FFCDD2 !important
}

.tocno span {
  font-size: 12px;
  padding: 5px;
  position: absolute;
  float: right;
  color: green;
  top: 0;
  right: 0;
}

.gotovo {
  position: relative;
}

.netocno span {
  font-size: 12px;
  padding: 5px;
  position: absolute;
  float: right;
  color: red;
  top: 0;
  right: 0;
}

.bodovi {
  display: none
}

#dalje,
#rezul {
  width: 100%;
  margin: 0;
  display: none
}

progress {
  width: 100%
}

#zadatci {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

#zadatci,
#kraj {
  display: none
}

#upute,
#kraj {
  text-align: center
}

#upute {
  font-size: 24px
}

.od span {
  font-size: 9px
}

@media only screen and (max-width: 600px) {

  body,
  input,
  button {
    font-size: 12px
  }

  .visina {
    font-size: 14px;
  }

  .visina div {
    font-size: 12px
  }

  .od span {
    font-size: 6px
  }
}