*{
  padding:0;
  margin:0;
}
body
{
font-family:sans-serif;
font-size:2rem;
background:radial-gradient(#fff,#000);
background-size:cover;
width:100%;
height:100vh;
text-align: center;
overflow-x: hidden;
}

.header{
  width:100%;
  text-align:center;
  background:#fff;
  padding:30px;
  margin:0px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.game-bg{
  margin:0px;
  border:1px solid transparent;
  text-align:center;
}
*
.score-board{
  position:absolute;
  top:50;
  right:0px;
  font-size:25px;
  background:#222;
  color:#fff;
  padding:5px 30px;
  border-radius:0px 0px 0px 3px;
}
.score-board button{
  padding:2px 5px;
  font-size:18px;
  margin:5px auto;
  background:orangered;
  outline-color:#fff;
  color:#fff;
}
.score-board span{
  border-left:3px solid SteelBlue;
  padding:2px 0px 2px 10px;;
  margin-left:10px;
}
.category-tag{
  position:absolute;
  top:50;
  left:0px;
  font-size:25px;
  background:#222;
  color:#fff;
  padding:5px 30px;
  border-radius:0px 3px 0px 0px;
  cursor: pointer;
}
.c-wrapper{
background: transparent !important;
}

.scrab-text{
position:  relative;
}

.scrab-text p{
  display: none;
  transition:display 1s ease-in;
  text-align: center; 
  overflow-x:auto;
}
.rijec { padding:10px 30px;
  background:#fff;
  box-shadow:10px 10px 8px #333;
  font-family:monospace;
  font-size: 7rem;
  font-weight:100;
  background-color: #fff;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);}

form{
  width: 100%;
}
.answer{
  padding:0px auto;
  text-align: center;
}
.answer input[type="text"]{
  padding:10px 5px !important;
  border-bottom:3px solid SteelBlue !important;
  font-size:4rem !important;
  width:80%;
  margin:10px auto;
  outline:none;
  max-width: 500px;
}

answer input[type="text"]:focus{
  background:transparent;
  }

.answer button{
  padding:10px 30px;
  border-radius:2px;
  font-size:20px;
  background:#fff;
  border:3px outset;
  box-shadow:3px 3px 5px;
  outline:none;
}
.answer button:hover{
  border:3px groove SteelBlue;
  outline:none;
}

.scrab-text .isActive{
 display: block;
 animation: newCard 2s forwards;
}

.scrab-text .notActive{
  animation: oldCard 2s forwards;
  display: none;
}

@keyframes newCard{
0%{
  opacity: 0.3;
  transform: scale(0.5) translateY(-5px);
}
50%{
  opacity: 0.5;
  transform: scale(1) translateY(-60px);
  z-index: 1;
}
100%{
  opacity: 1;
  transform: scale(1) translateY(0px);
}
}

@keyframes oldCard{
  0%{
    opacity: 1;
    transform: scale(1.1) translateY(5px);
  }
  50%{
    opacity: 0.6;
    transform: scale(0.7) translateY(60px);
    z-index: 0;
  }
  65%{
    opacity: 0.3
  }
  
  100%{
    opacity: 0.0;
    transform: scale(0.5) translateY(0px);
  }
  }



/*#text-2, #text-1{background: transparent!important}*/
@media(max-width:900px){
  .scrab-text{
   
  }
}