* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

#text-2 {
    z-index: 100;
}
.card {font-family: "Comic Sans MS", cursive, sans-serif!important}
.comic {font-family: "Comic Sans MS", cursive, sans-serif}
#unos {font-family: "Comic Sans MS", cursive, sans-serif}
body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -ms-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -webkit-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -o-linear-gradient(top left, rgba(241, 247, 251, 1), rgb-o-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9)));
    background-image: linear-gradient(to bottom right, rgb(198, 201, 247),rgba(240, 227, 224, 0.9));
    background-size: auto;
}

.slika {
    max-height: 200px;
    display: none;
    margin-bottom: 20px;
}

.header {
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 30px;
    margin: 0px auto;
    font-family: "Open Sans", sans-serif;
}

.game-bg {
    margin: 0px;
    border: 1px solid transparent;
    text-align: center;
    display: block;
    padding-top: 5%;
}
.w3-display-topleft {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    color:rgb(104, 0, 2);
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 0.5;
    font-weight: 600;
    cursor:pointer;
}
.w3-display-topleft:hover{color: black;}
* .score-board {
    position: absolute;
    top: 50;
    right: 0px;
    font-size: 25px;
    background: #222;
    color: #fff;
    padding: 5px 30px;
    border-radius: 0px 0px 0px 3px;
}

.score-board button {
    padding: 2px 5px;
    font-size: 18px;
    margin: 5px auto;
    background: orangered;
    outline-color: #fff;
    color: #fff;
}

.score-board span {
    border-left: 3px solid SteelBlue;
    padding: 2px 0px 2px 10px;
    margin-left: 10px;
}

.category-tag {
    position: absolute;
    top: 50;
    left: 0px;
    font-size: 25px;
    background: #222;
    color: #fff;
    padding: 5px 30px;
    border-radius: 0px 3px 0px 0px;
    cursor: pointer;
    display: none;
}

.c-wrapper {
    background: transparent !important;
}

.scrab-text {
    position: relative;
}

.scrab-text div {
    padding: 10px 30px;
    background: #d6d2d2;
    box-shadow: 0px 0px 8px #333;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-weight: 100;
    display: none;
    transition: display 1s ease-in;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50px)!important;
    -webkit-transform: translate(-50%, -50px)!important;
    -moz-transform: translate(-50%, -50px)!important;
    -ms-transform: translate(-50%, -50px)!important;
    max-width: 800px;
    overflow-x: auto;
    border-radius: 6px;
}

form {
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 0px 10%;
}

.answer {
    padding: 0px auto;
    text-align: center;
}

.answer input[type="text"] {
    padding: 10px 5px !important;
    border-bottom: 3px solid SteelBlue !important;
    font-size: 2rem !important;
    width: 80%;
    margin: 10px auto;
    outline: none;
    max-width: 500px;
    text-align: center;
}

answer input[type="text"]:focus {
    background: transparent;
}

.answer button {
    padding: 10px 30px;
    font-size: 20px;
    background: #fff;
    border: 3px outset;
    box-shadow: 3px 3px 5px;
    outline: none;
    background: #ED1C24;
    transition: background-color 0.5s ease;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
}

.answer button:hover {
    background: #890F14
}

.scrab-text .isActive {
    display: inline-block!important;
    animation: newCard 2s forwards;
}

.scrab-text .notActive {
    animation: oldCard 2s forwards;
    display: none;
}

@media(max-width:900px) {
    .scrab-text {}
}


/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}

#bootstrapForm {
    position: relative;
    top: initial;
}

#ikona {
    display: inline-block;
    width: initial;
    height: 60px;
    margin: auto;
}


/*  GRID OF TWO  */

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.ikona {
    max-width: 100%;
    height: auto
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 800px) {
    .scrab-text div {
        font-size: 2rem
    }
    .begin-countdown {
        font-size: 1rem
    }
    form {
        top: 50px
    }
    .score-board {
        font-size: 20px;
        padding: 5px 10px;
    }
    .score-board button {
        margin: none
    }
    .provjeri {
        padding: 5px 10px!important;
        margin-bottom: 10px
    }
    .scrab-text div {
        padding: 5px 10px!important;
    }
    .w3-display-topleft {
        top: 3%;
        left: 1%;
        color: rgb(255, 255, 255);
    }
}

.begin-countdown {
    display: block
}

.preostalo {
    text-align: center
}

@media screen and (max-width: 680px) {.w3-display-topleft{font-size: 26px;}
}

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .slika {
        max-height: 150px
    }
    .scrab-text div {
        font-size: 1rem
    }
    .answer input[type="text"] {
        font-size: 1rem!important;
        padding: initial!important;
    }
    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }
    form {
        top: 20px
    }
    .answer button {
        font-size: 1rem
    }
    .score-board button,
    .score-board {
        font-size: 14px
    }
    .score-board {
        position: relative;
    }
    .slika {
        margin-bottom: 0;
    }
}