@font-face {
    font-family: sans-serif;
    src: url('Spojenrukopis-0011.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */

[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    color: #a28cd7;
}

.front span {
    position: absolute;
    bottom: 50%;
    font-size: 60px;
    text-align: center;
    right: 0;
    left: 0;
    color:black;
    transform: translateY(50%);
}

.brojevi {
    font-size: 10vmin;
    font-size: 10vm;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0px 0px 5px #553585;
    color: #FFEC8F;
}

.matched .front {
    opacity: 0.5;
}

.ikone {
    max-width: 100%;
    margin-bottom: 10px;
    height: 450px;
}

body {
    background-image: url(pozadina.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 50% 50%;
    min-height: 100%;
    font-family: sans-serif;
}
body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -ms-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -webkit-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -o-linear-gradient(top left, rgba(241, 247, 251, 1), rgb-o-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9)));
    background-image: linear-gradient(to bottom right, 
rgb(198, 201, 247),
    rgba(240, 227, 224, 0.9));
    background-size: auto;
}
.time {
    text-align: center;
    text-shadow: 0px 1px 0 black;
    font-size: 30px;
}

.wrap {
    position: relative;
    height: 100%;
    min-height: 500px;
    padding-bottom: 20px;
}

.game {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 500px;
    perspective: 500px;
    min-height: 100%;
    height: 100%;
}

@-webkit-keyframes matchAnim {
    0% {
        background: #bcffcc;
    }
    100% {
        background: white;
    }
}

@keyframes matchAnim {
    0% {
        background: #bcffcc;
    }
    100% {
        background: white;
    }
}

.card {
    float: left;
    width: 16.66666%;
    height: 25%;
    padding: 5px;
    text-align: center;
    display: block;
    -webkit-perspective: 500px;
    perspective: 500px;
    position: relative;
    cursor: pointer;
    z-index: 50;
    -webkit-tap-highlight-color: transparent;
    font-size: 30px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.card .inside {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    background: white;
}

.card .inside.picked,
.card .inside.matched {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .inside.matched {
    -webkit-animation: 1s matchAnim ease-in-out;
    animation: 1s matchAnim ease-in-out;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.card .front,
.card .back {
    border: 1px solid black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    z-index: 1;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.back {}

.pozadina-zivotinje {
    background: url("pozadina.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.pozadina-zanimaje {
    background: url("pozadina2.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.pozadina-ljudi {
    background: url("pozadina3.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.pozadina-vozila {
    background: url("pozadina2.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.pozadina-voce {
    background: url("pozadina4.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.pozadina-povrce {
    background: url("pozadina5.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.pozadina-hrana {
    background: url("pozadina6.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.pozadina-odjeca {
    background: url("pozadina7.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.pozadina-poso {
    background: url("pozadina8.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.card .front img,
.card .back img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.card .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.modal-overlay {
    background: linear-gradient(to bottom right, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    position: relative;
    width: 450px;
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    background: white;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px 10px;
    border-radius: 20px;
    overflow-y: auto;
}

.modal .winner {
    font-size: 40px;
    text-align: center;
    color: #4d4d4d;
}



.modal .zivotinje,
.modal .ljudi,
.modal .zanimanja, .razina,
#prva,
#druga,
#treca,#form-submit {
    margin: 30px auto;
    padding: 10px 10px;
    display: block;
    font-size: 20px;
    border: none;
    background: -webkit-linear-gradient(#8177f9, #847cdf);
    background: linear-gradient(#8177f9, #847cdf);
    border: 1px solid #222;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 1px 0 black;
    cursor: pointer;
    font-family: sans-serif;
    width: 200px;
    
}

.modal .zivotinje:hover,
.modal .ljudi:hover,
.modal .zanimanja:hover,
#prva:hover,
#druga:hover,
#treca:hover,#form-submit:hover {
    background: -webkit-linear-gradient(#847cdf, #8177f9);
    background: linear-gradient(#847cdf, #8177f9);
}

.modal .restart:hover {
    background: -webkit-linear-gradient(#222, black);
    background: linear-gradient(#222, black);
}

.modal .message {
    text-align: center;
}

.modal .message a {
    text-decoration: none;
    color: #28afe6;
    font-weight: bold;
}

.modal .message a:hover {
    color: #56c0eb;
    border-bottom: 1px dotted #56c0eb;
}

.modal .share-text {
    text-align: center;
    margin: 10px auto;
}

.modal .social {
    margin: 20px auto;
    text-align: center;
}

.modal .social li {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.modal .social li:last-child {
    margin-right: 0;
}

.modal .social li a {
    display: block;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.modal .social li a.facebook {
    background: #3b5998;
}

.modal .social li a.facebook:hover {
    background: #4c70ba;
}

.modal .social li a.google {
    background: #D34836;
}

.modal .social li a.google:hover {
    background: #dc6e60;
}

.modal .social li a.twitter {
    background: #4099FF;
}

.modal .social li a.twitter:hover {
    background: #73b4ff;
}

footer {
    height: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

footer .disclaimer {
    line-height: 20px;
    font-size: 12px;
    color: brown;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .front span {
        font-size: 32px;
    }
}
@media (max-width: 900px) {
    .card .front {
        padding: 30px;
    }
    .card span {
        font-size: "20px"
    }
    .card .back {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .card {
        width: 25%;
        height: 20%;
    }
    
    .front span {
        font-size: 20px!important
    }
    .card {
        font-size: 18px;
    }

    #food{font-size:12px!important}
}

@media (max-width: 767px) {
    footer .disclaimer {
        font-size: 12px;
    }
    
}

@media (max-width: 480px) {
    .modal .winner {
        font-size: 40px;
    }
    .card {
        font-size: 15px;
    }
   
    .card .front {
        padding: 5px;
    }
    
    .modal .zivotinje, .modal .ljudi, .modal .zanimanja, #prva, #druga, #treca {padding: 10px 10px;}
    #food{font-size:9px!important}

}

@media (max-width: 300px) {
    .modal .winner {
        font-size: 30px;
    }
    .modal .restart {
        margin: 15px auto;
        padding: 10px 15px;
        display: block;
        font-size: 15px;
        border: none;
        background: #4d4d4d;
        background: -webkit-linear-gradient(#4d4d4d, #222);
        background: linear-gradient(#4d4d4d, #222);
        border: 1px solid #222;
        border-radius: 5px;
        color: white;
        text-shadow: 0px 1px 0 black;
        cursor: pointer;
    }
}


.swal2-modal .swal2-content{font-family: sans-serif!important;}
.swal2-modal h2{font-family: sans-serif!important;}