@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

* {
  box-sizing: border-box;
}

.cp {
  border: none !important;
}

.cp a {
  text-decoration: none;
  
}

.tw {
  background: #34B1EC !important;
  border: none !important;
  color: white !important;
}

.tw a {
  text-decoration: none;
  
}

.fb a {
  text-decoration: none;
  
}

.null {
  border: none !important;
}

.null .planets_container__quiz .planet_answer:nth-of-type(1) {
  display: block !important;
}

.null .planet_answer img {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

body {
  margin: 0;
  font-family: 'nunito';
  padding: 0;
  height: 100vh;
}

body .tick {
  color: #649F4A;  position: absolute;
  top: 8px;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  right: 0;
  -webkit-animation: tick .3s forwards;
  animation: tick .3s forwards;
  font-size: 20px;
}

body .timer {
  
  position: absolute;
  top: 20px;
  font-weight: 400;
  font-size: 13px;
  right: 20px;
  z-index: 10;
}

body .overlay {
  display: none;
  width: 100%;
  opacity: 0.9;
  position: fixed;
  height: 100%;
  z-index: 1;
  background: #1D1F29;
}

body .winner {
  display: none;
}

body .intro {
  display: none;
}

body .modal {
  z-index: 2;
  max-width: 400px;
  background: white;
  left: 0;
  border-radius: 12px;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

body .modal_inner {
  padding: 30px;
  text-align: center;
}



body .modal_inner button {
  border: 2px solid #E14122;
  background: none;
  color: #E14122;
  font-weight: 700;
  font-family: 'nunito';
  padding: 10px 13px;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  transition: all .2s;
}

body .modal_inner button:hover {
  background: #E14122;
  
}

body .modal_inner h2 {
  margin: 0;
  color: #E14122;
}

body .modal_inner p {
  color: #5C5E67;
  font-weight: 100;
  font-size: 14px;
}

body .modal_inner__close {
  position: absolute;
  right: -20px;
  top: -20px;
  
  cursor: pointer;
  opacity: 0.6;
  transition: all .3s;
}

body .modal_inner__close:hover {
  opacity: 1;
}

body .ui-state-hover {
  border: 2px dashed #11DFF3 !important;
  box-shadow: 0px 0px 20px 0px rgba(52, 205, 224, 0.11);
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

body .ui-state-hover span {
  color: #11DFF3 !important;
}

body .planets {
  overflow: hidden;
  background: linear-gradient(90deg, #DDEDA7 0%, #ADCB9F 100%);
  width: 100%;
  height: 100vh;
  position: relative;
}

body .planets_stars {
  background-size: 400px;
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/stars-back.png");
}

body .planets_stars img {
  width: 100%;
}

body .planets_container {
  width: 1000px;
  text-align: center;
  height: 520px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body .planets_container__title h1 {
  margin: 0;
  
}

body .planets_container__title h3 {
  margin: 0;
  color: #E14122;
  font-weight: 400;
}

body .planets_container__planets {
  margin: 90px;
}

body .planets_container__planets .answered {
  opacity: 0.3;
}

body .planets_container__planets span {
  color: #ef4423;
  font-size: 13px;
  display: block;
  margin-top: 7px;
}

body .planets_container__planets .planet_wrap {
  display: inline-block;
  width: 75px;
}

body .planets_container__planets .info {
  background: white;
  width: 100px;
  height: 100px;
  display: none;
}

body .planets_container__planets .planet {
  border-radius: 100px;
  cursor: pointer;
}

body .planets_container__planets .planet img {
  height: 38px;
  position: relative;
  z-index: 11;
  border-radius: 100px;
}

body .planets_container__quiz .planet_holder {
  width: 40px;
  transition: all .3s;
  height: 40px;
  border-radius: 100px;
  display: inline-block;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

body .planets_container__quiz .planet_holder span {
  position: absolute;
  left: 0;
  right: 0;
  
  top: 50%;
  transition: all .3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .planets_container__quiz .sun {
  width: 160px;
  height: 156px;
  position: relative;
  top: 30px;
  -webkit-animation: space_wobble 5.8s .1s linear infinite;
  animation: space_wobble 5.8s .1s linear infinite;
}

body .planets_container__quiz .sun span {
  font-size: 50px;
}

body .planets_container__quiz .merkur {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-animation: space_wobble 5.7s .4s linear infinite;
  animation: space_wobble 5.7s .4s linear infinite;
}

body .planets_container__quiz .merkur span {
  font-size: 10px;
}

body .planets_container__quiz .venera {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-animation: space_wobble 5.3s .8s linear infinite;
  animation: space_wobble 5.3s .8s linear infinite;
}

.intro {z-index: 1000000!important;}

body .planets_container__quiz .venera span {
  font-size: 12px;
}

body .planets_container__quiz .zemlja {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-animation: space_wobble 5.2s 1s linear infinite;
  animation: space_wobble 5.2s 1s linear infinite;
}

body .planets_container__quiz .zemlja span {
  font-size: 20px;
}

body .planets_container__quiz .mars {
  width: 46px;
  height: 46px;
  position: relative;
  -webkit-animation: space_wobble 5s .1s linear infinite;
  animation: space_wobble 5s .1s linear infinite;
}

body .planets_container__quiz .mars span {
  font-size: 18px;
}

body .planets_container__quiz .jupiter {
  width: 90px;
  height: 90px;
  position: relative;
  -webkit-animation: space_wobble 4.7s .6s linear infinite;
  animation: space_wobble 4.7s .6s linear infinite;
}

body .planets_container__quiz .jupiter span {
  font-size: 30px;
}

body .planets_container__quiz .saturn {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-animation: space_wobble 5.9s .1s linear infinite;
  animation: space_wobble 5.9s .1s linear infinite;
}

body .planets_container__quiz .saturn span {
  font-size: 26px;
}

body .planets_container__quiz .uran {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-animation: space_wobble 6s .7s linear infinite;
  animation: space_wobble 6s .7s linear infinite;
}

body .planets_container__quiz .uran span {
  font-size: 20px;
}

body .planets_container__quiz .neptun {
  width: 47px;
  height: 47px;
  position: relative;
  -webkit-animation: space_wobble 5s .4s linear infinite;
  animation: space_wobble 5s .4s linear infinite;
}

body .planets_container__quiz .scale {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

body .planets_container__quiz .planet_answer {
  border-radius: 100px;
}

body .planets_container__quiz .planet_answer img {
  width: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .3s;
}

body .planets_container__quiz .pluton {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-animation: space_wobble 5.3s .8s linear infinite;
  animation: space_wobble 5.3s .8s linear infinite;
}


.slika_planeta {
  max-width: 100%;
}

body .planets_container__quiz .pluton span {
  font-size: 8px;
}
.opis{font-size:16px!important}

@-webkit-keyframes space_wobble {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  25% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes space_wobble {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  25% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes tick {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  body .modal_inner img {
    width: initial; }
  .slika_planeta{max-height: 200px}
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
