body {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    padding: 0.01em 16px;
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 960px;
    /* 2 */
    border-radius: 25px;
    margin-top: 2%;
    background-image: url(pozadina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

button {
    font-size: 24px;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../ucitavanje.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

ul {
    font-family: "Open Sans", sans-serif;
}

body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left,  rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -ms-linear-gradient(top left,  rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -webkit-linear-gradient(top left,  rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -o-linear-gradient(top left, rgba(241, 247, 251, 1), rgb-o-linear-gradient(top left,  rgb(198, 201, 247), rgba(240, 227, 224, 0.9)));
    background-image: linear-gradient(to bottom right,  rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-size: auto;
}
.accordion {
    background-color: rgba(0, 0, 0, .15);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    text-align: center;
}

.active,
.accordion:hover {
    background-color: #a28cd7;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.gif {
    max-width: 100%;
    margin: auto;
    display: block
}


/*  grid sustav  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.slika {
    width: auto;
    margin: auto;
    display: block;
    max-height: 100px;
}

.record {
    position: relative;
    width: 246px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.record input {
    text-align: center;
    width: 200px;
    display: inline-block;
    height: 30px;
    border: 2px solid #3f51b5;
    border-radius: 4px;
}

.record img {
    float: right;
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    right: 28px;
    top: 9px;
    cursor: pointer;
}

.container {
    display: inline-block;
    text-align: center;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
    text-align: center
}

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
    text-align: center;
}

.accordion:after {
    content: '+';
    /* Unicode character for "plus" sign (+) */
    font-size: 24px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "−";
    /* Unicode character for "minus" sign (-) */
}

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 1rem;
    left: 1rem;
    position: fixed;
    top: 2rem;
    width: 2.6rem;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.aktivan {
    background-color: #3f51b5;
}

.nav-toggle:hover {
    opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: black;
    content: '';
    height: 0.4rem;
    width: 70%;
}

.nav-toggle .nav-toggle-bar {
    margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem;
    width: 100%;
}

.nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem;
    width: 100%;
}

.nav-toggle.expanded .nav-toggle-bar {
    background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* nav */

.expanded a {
    color: white
}

.nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: #3F51B5;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    left: -20rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
    overflow: auto
}

.nav.expanded {
    left: 0;
}

.nav ul {
    position: absolute;
    top: 10%;
    -webkit-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
    margin: 0;
    margin-left: 20px;
    padding: 2rem;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}
.logo{
    max-width: 100%;
    max-height: 200px;
    margin: auto;
    display: block;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.naslov{margin-top: 0;}
/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 1100px) {
    body {
        border: none
    }
}
@media only screen and (max-width: 800px) {
    .record input {
        width: 120px;
    }
    body {
        border: none
    }
    .nav-toggle {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        cursor: pointer;
        height: 2rem;
        left: initial;
        position: fixed;
        top: 1rem;
        width: 1.3rem;
        z-index: 2;
        padding: 5px;
        padding-bottom: 0;
        padding-top: 0;
    }
    .nav-toggle .nav-toggle-bar {
        width: 69%
    }
    .nav-toggle .nav-toggle-bar,
    .nav-toggle .nav-toggle-bar::after,
    .nav-toggle .nav-toggle-bar::before {
        height: 0.1rem;
    }
    .nav-toggle .nav-toggle-bar::before {
        margin-top: -0.4rem;
    }
    .nav-toggle .nav-toggle-bar::after {
        margin-top: 0.4rem;
    }
    .nav{font-size: 1.5rem}
    .nav ul{top:1%}
    .logo{max-height: 100px;}
    .naslov{font-size: 20px;}
    body{font-size: 18px;}
    #return-to-top i{top:14px}
    .gif{width:200px}
}

@media only screen and (max-width: 480px) {
    .record input {
        width: 250px;
    }
    .gif{height: auto;max-width: 60%;}

    .col {
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
    }
    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }
    .record img{right: 5px
}}