@import 'https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
.tl-timeline {
    font-family: font-family: 'Lato', sans-serif;
}

.tl-timegroup .tl-timegroup-message {
    color: #5d5d5d;
}

.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^=tl-icon-],
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class*=" tl-icon-"],
.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
    color: #5d5d5d;
}

@font-face {
    font-family: 'enchanted_landregular';
    src: url('enchanted_land-webfont.woff2') format('woff2'), url('enchanted_land-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.tl-timenav .tl-attribution {
    display: none;
}

.tl-text h2.tl-headline, .tl-text h2.tl-headline-title{
    font-family: Georgia, serif;
}

.tl-text p{text-align: justify};


.tl-slider-container-mask{background: red!important;}


