* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
.home {
    color: rgb(104, 0, 2);
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    line-height: 0.5;
    font-weight: 600;
    position: fixed;
}
body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -ms-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -webkit-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9));
    background-image: -o-linear-gradient(top left, rgba(241, 247, 251, 1), rgb-o-linear-gradient(top left, rgb(198, 201, 247), rgba(240, 227, 224, 0.9)));
    background-image: linear-gradient(to bottom right, 
rgb(198, 201, 247),
    rgba(240, 227, 224, 0.9));
    background-size: auto;
}
html {
    background: url(pozadina.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.velicina{max-height: 200px;}
html::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left, rgba(241, 247, 251, 1), rgba(240, 227, 224, 0.9));
    background-image: -ms-linear-gradient(top left, rgba(241, 247, 251, 1), rgba(240, 227, 224, 0.9));
    background-image: -webkit-linear-gradient(top left, rgba(241, 247, 251, 1), rgba(240, 227, 224, 0.9));
    background-image: -o-linear-gradient(top left, rgba(241, 247, 251, 1), rgb-o-linear-gradient(top left, rgba(241, 247, 251, 1), rgba(240, 227, 224, 0.9)));
    background-image: linear-gradient(to bottom right, rgba(241, 247, 251, 1), rgba(240, 227, 224, 0.9));
    background-size: auto;
}

a {
    color: rgb(104, 0, 2);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: rgb(104, 0, 2);
}

.hangman {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(104, 0, 2);
    font-weight: 300;
}

p {
    font-size: 24px;
    line-height: 1.3;
    font-family: "Open Sans", sans-serif;
}

@keyframes letteranim {
    50% {
        transform: translateY(-5px) scale(1.05);
    }
}

.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid rgb(104, 0, 2);
    ;
    margin: 0 10px;
    font-size: 50px;
    padding: 10px;
    transition: .5s;
    text-transform: uppercase;
}

.word {
    display: block;
    white-space: nowrap;
}

.correct {
    color: rgb(104, 0, 2);
    text-shadow: 1px 1px 0 black;
    animation: letteranim .3s ease;
}

.guessForm {
    margin: 20px auto 0;
}

.guessForm input,
.guessForm .guessButton {
    font-family: "Open Sans", sans-serif;
}

.guessForm input[type="text"] {
    outline: none;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #aaa;
    color: gray;
}

.guessForm .guessButton {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(104, 0, 2);
    ;
    color: white;
    transition: .3s;
    margin: 10px 0;
    text-shadow: 1px 2px 0 black;
}

.guessForm .guessButton:hover {
    background: black;
}

.wrongLetters {
    font-size: 20px;
}

.wrongLetters p {
    margin-bottom: 10px;
}

.wrongLetters li {
    display: inline-block;
    font-size: 40px;
    background: #ff4d4d;
    text-shadow: 1px 2px 0 red;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
    animation: letteranim .3s ease;
    border-radius: 5px;
}

.message {
    display: none;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom right, rgb(198, 201, 247), rgba(240, 227, 224, 1));
    z-index: 12402402;
}

.message h1 {
    display: none;
    color: black;
    text-shadow: 1px 1px 0 #000000;
}

.message .highlight {
    color: rgb(104, 0, 2);
    text-transform: capitalize;
}

.message .text {
    color: black;
    font-size: 24px;
    display: none;
}

.message .text p {
    color: black;
}

.message .text .highlight {
    font-size: 24px;
}

.message .muted {
    margin: 20px auto;
    color: #86d1ff;
}

.button {
    display: none;
    margin: 10px 0;
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(104, 0, 2);
    color: white;
    transition: .3s;
    text-shadow: 1px 2px 0 black;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
}

.button:hover {
    background: rgb(85, 1, 2);
}

.naslov {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgb(104, 0, 2);
    text-shadow: 0 0 5px black;
}

.upute {
    font-family: "Open Sans", sans-serif;
}

.title {
    color: black
}

#slovo {
    display: none;
}

.begin-countdown {
    margin-top: 15px;
    margin-bottom: 15px
}


.preostalo{font-size: 14px}
#A,
#B,
#C,
#CC,
#CCC,
#D,#Dž,
#DJ,
#E,
#F,
#G,
#H,
#I,
#J,
#K,
#L,#LJ,
#M,
#N,
#O,
#P,
#R,
#S,
#SS,
#T,
#U,
#V,
#Z,
#ZZ,
#space {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-size: 18px;
    background: rgb(104, 0, 2);
    text-shadow: 1px 2px 0 black;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
    animation: letteranim .3s ease;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}
.guessLetter {
    text-transform: lowercase;
}

.guessForm input{font-family: "Comic Sans MS", cursive, sans-serif!important}
.letter {font-family: "Comic Sans MS", cursive, sans-serif}
.highlight {font-family: "Comic Sans MS", cursive, sans-serif}
.w3-button:hover{background-color:rgba(155,255,155,0)!important;}
@media screen and (max-width: 1200px) {
    .letter {
        font-size: 20px;
        padding: 3px;
    }
    .title {
        font-size: 24px;
    }
    .message .text {
        font-size: 16px;
    }
    .button {
        font-size: 20px;
    }
    .guessForm input[type="text"] {
        font-size: 20px;
        width: 80%;
    }
    .naslov {
        font-size: 20px;
    }
    .upute {
        font-size: 14px;
    }
    .message .highlight{font-size: 24px;}
}

.w3-display-topleft {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
}
@media screen and (max-width: 800px) {
.w3-display-topleft{top: 0.5%;
    left: 0.5%;}
    .home{font-size: 30px;}

    .velicina{max-height: 100px;}
    .guessForm input{font-size: 16px!important; padding:10px!important; margin: 5px!important;}
    #slicica{max-height: 100px!important;}
    .message p {font-size: 14px; text-shadow:none}
    .message .text .highlight{font-size: 16px;}
}
#hint {
    text-shadow: 0px 0px 5px rgb(104, 0, 2)
}



.sakrij {
    visibility: hidden;
}
#hint{display: none;}
#form-submit:disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

#progressBar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px
}

legend{
box-sizing: border-box;
color: inherit;
display: table;
max-width: 100%;
padding: 0;
white-space: normal;
margin: auto;
}

.jedan{display: none}