/* ----------------------------
STYLES/LAYOUT
---------------------------- */

html {
    font-size: 60%;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.red{color:rgb(235, 73, 71)}
body {
    font-size: 1rem;
    font-family: Open Sans, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 480px;
    transition: background-color 1000ms linear;

}

#progressBar{position: absolute; top:0; right:0;padding: 20px}

.questions-page__continue-btn{display: none!important} 
.questions-page__question{padding-top: 20px}
#opis {
    text-align: center
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
i {
    margin: 0;
    
}

form {
    margin-top: 20px;
}

.popuni{display: none;  text-align: center}
/* Container divs*/

#odgovor{width: 20px;
    border-radius: 5px;}
.init-page,
.questions-page,
.results-page {
    height: 100%;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: column;
}


/* Button */

.btn, #form-submit {
    margin: 1rem auto 0;
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
    background: #EB4947;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}



.senka {
    box-shadow: 2px 2px 5px #888888;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn:hover,#form-submit:hover {
    cursor: pointer;
    background: #D72503;
}

.odgov:hover{background: rgb(110, 153, 85);}
/* TITLE PAGE */

.init-page__title {
    margin: 0;
    font-size: 3rem;
    margin-bottom: 30px;
}

.init-page__icon {
    font-size: 20rem;
    margin: 0;
}

#pitanje{padding-top: 10px;padding-bottom: 10px;}
/* QUESTIONS PAGE*/

.questions-page__question {
    font-size: 1.8rem;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.questions-page__answer-list {
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.questions-page__answer-line {
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    break-inside: avoid-column;
    list-style-type: none;
}

.questions-page__selection-div {
    float: left;
    padding-left: 1rem;
    font-size: 1.75rem;
}

.questions-page__feedback-div {
    float: right;
    padding-right: 1rem;
    font-size: 2.5rem;
}

.odabir {
    background: rgba(187, 222, 251, 0.65);
    border-radius: 5px;
}

.questions-page__answer-div:hover {
    background: rgba(187, 222, 251, 0.3);
}

.odabir:hover {
    background: rgba(187, 222, 251, 0.65);
}

.questions-page--correct {
    background: #C5E1A5;
    border-radius: 5px;
}

.questions-page--incorrect {
    background: #FF9E80;
}

.questions-page--correct:hover {
    background: rgba(197, 225, 165, 1);
    border-radius: 5px;
}

.questions-page--incorrect:hover {
    background: rgba(255, 158, 128, 1);
}

.btn-holder {
    height: 4.5rem;
}


/* RESULTS PAGE */

.results-page__info {
    font-size: 2rem;
}

.results-page__info2 {
    font-size: 2rem;
}

.results-page__bodovi {
   font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.results-page__spanish-btn {
    margin-top: 3rem;
}

.results-page__spanish-btn-link {
    text-decoration: none;
}

.slikica {
    max-width: 100%;
    max-height: 200px;
    box-shadow: 2px 2px 5px #888888;
    border-radius: 5px;
    margin-top: 20px;
}

.tocno_bod{color: #4CAF50; font-size: 23px;}
.odgov{background: rgba(211, 224, 207, 0.8); border: 1px black solid;color:black}

.swal-fix{min-height: initial!important}

.dodatak{text-align:center; font-size:23px}

/* ----------------------------
MEDIA QUERIES
---------------------------- */

@media screen and (min-width: 480px) {
    html {
        font-size: 85%;
    }
    body {
        min-height: 700px;
    }
    .container {
        width: 100%;
    }
    .slikica {
        max-height: 300px;
    }
}

@media screen and (min-width: 1680px) {
    html {
        font-size: 100%;
    }
    body {
        min-height: 800px;
    }
    .slikica {
        max-height: 600px;
    }
}



#glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000000;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0
}

.slikica2 {
    margin-top: 20px;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: auto;
}
#pageBeginCountdownText{font-size: 15px}
.begin-countdown{padding-top: 30px}
#oblik{padding-bottom: 20px}

.ispunjavanje{font-size:22px}

.nastavak{color: rgb(235, 73, 71)}
legend{margin: auto;}

.vrime{color:#EB4947; font-weight: 900}