.col-md-8 {
    width: 100%!important
}

.swal2-html-container{
font-size: 18px!important;
text-align: justify!important;
}

.swal2-confirm{
    font-size: 18px!important;}
@media (max-width: 1200px) {
    #main-menu .navbar-nav>li>a {
        font-size: 14px
    }
}

@media (max-width: 1000px) {
    #main-menu .navbar-header {
        position: relative
    }
    #main-menu .navbar-nav>li>a {
        font-size: 18px
    }
}

body {
    background-image: url(pozadina.png);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body::before {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: -moz-linear-gradient(top left, rgba(255, 255, 255, 0.99), rgba(255, 251, 251, 0.95));
    background-image: -ms-linear-gradient(top left, rgba(255, 255, 255, 0.99), rgba(255, 251, 251, 0.95));
    background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.99), rgba(255, 251, 251, 0.95));
    background-image: -o-linear-gradient(top left, rgba(255, 255, 255, 0.99), rgba(255, 251, 251, 0.95));
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.99), rgba(255, 251, 251, 0.95));
    background-size: auto;
}

.zascro,
.zaseng {
    cursor: pointer;
}

.zaseng {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

#vrhGumb {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #2c99ed;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

#vrhGumb:hover {
    background-color: #4274f4;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.navbar-toggle {
    background: rgb(44, 153, 237)
}

.collapsed {
    background: initial
}

.hero .img-responsive {
    display: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(44, 153, 237);
    border-radius: 20px;
}

#main-menu .navbar-nav>li:hover>a {
    border-radius: 5px
}

#main-menu .navbar-nav>.dropdown-submenu:hover>a {
    border-radius: 5px 5px 0 0;
}

#main-menu .navbar-nav>li>.dropdown-menu {
    border-radius: 0 0 5px 5px;
}

.navbar-brand>img {
    padding-left: 15px
}
/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.kruzic {
    border-radius: 100px
}
/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child {
    margin-left: 0;
}
/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}
/*  GRID OF FOUR  */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.13%;
}

.span_1_of_3 {
    width: 32.26%;
}
/*  GRID OF TWO  */

.span_2_of_2 {
    width: 100%;
}

.span_1_of_2 {
    width: 49.2%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */

[id^="pojmovnik"] {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: visible
}

[id^="pojmovnik"]:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    text-align: center;
}

#pojmovnik-a:after {
    content: "A";
}

#pojmovnik-b:after {
    content: "B";
}

#pojmovnik-c:after {
    content: "C";
}

#pojmovnik-cc:after {
    content: "Č";
}

#pojmovnik-d:after {
    content: "D";
}

#pojmovnik-e:after {
    content: "E";
}

#pojmovnik-f:after {
    content: "F";
}

#pojmovnik-g:after {
    content: "G";
}

#pojmovnik-h:after {
    content: "H";
}

#pojmovnik-i:after {
    content: "I";
}

#pojmovnik-j:after {
    content: "J";
}

#pojmovnik-k:after {
    content: "K";
}

#pojmovnik-l:after {
    content: "L";
}

#pojmovnik-m:after {
    content: "M";
}

#pojmovnik-n:after {
    content: "N";
}

#pojmovnik-o:after {
    content: "O";
}

#pojmovnik-p:after {
    content: "P";
}

#pojmovnik-r:after {
    content: "R";
}

#pojmovnik-s:after {
    content: "S";
}

#pojmovnik-ss:after {
    content: "Š";
}

#pojmovnik-t:after {
    content: "T";
}

#pojmovnik-u:after {
    content: "U";
}

#pojmovnik-v:after {
    content: "V";
}

#pojmovnik-z:after {
    content: "Z";
}

#pojmovnik-x:after {
    content: "X";
}

#pojmovnik-w:after {
    content: "W";
}

#pojmovnik-z:after {
    content: "Z";
}

.pojmovnik_gumbi {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.pojmovnik_gumbi li {
    /*! display:inline; */
    border: 1px solid black;
    border-radius: 5px;
    /*! padding: 10px; */
    background: #28B7DB;
    color: white;
    cursor: pointer;
    line-height: 3;
    margin-left: 5px;
    margin-right: 5px;
}

.pojmovnik_gumbi li {
    color: white;
    text-decoration: none;
    /*! margin-left: 20px; */
    /*! margin-right: 20px */
}

.pojmovnik_gumbi a {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    /*! height: 28px; */
    width: 65px;
    margin-bottom: 10px;
}

.pojmovnik_gumbi li:hover {
    background: #2C99ED
}

#main-menu .navbar-nav>li.active>a {
    border-radius: 5px
}

.span_1_of_1 {
    width: 100%
}
/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 50%;
    }
    .vern {
        max-height: 100px
    }
    .pojmovnik_gumbi a {
        margin-left: initial;
        margin-right: initial
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3,
    .iznimka {
        width: 100%;
    }
    .span_2_of_2,
    .span_1_of_2 {
        width: 100%;
    }
}